.profile-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 510px;
  height: 24px;
  border-bottom: 1px solid #e0e0e0;
}

.profile-list-item-label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #1e1e1e;
}

.profile-list-item-value {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
  text-align: right;
  color: #999;
}
