.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #3369f3;
  text-decoration: none;
  display: block;
}

.link:hover {
  text-decoration: underline;
}

.link-logout {
  color: red;
}
